doctype html
html
    head
        title blablah chat
        link(rel="stylesheet" href="/style.css")
    body
        h1 IRC "NOJS" interface
        form(method="POST" action="/session/new")
            input(type="text" placeholder="username" name="username")
            button Connect
    div(id="donate")
       text  Like our IRC? Please consider donating bitcoin to keep it going!
       a(href="bitcoin:12URWRUTx1dcyjVFH5ypm6kv8yiQvTJ1NR?amount=0.005&label=EvilBNC")
           br
           img(src="evilcorpbtc.png")
           br
           text 12URWRUTx1dcyjVFH5ypm6kv8yiQvTJ1NR
