doctype html
html
    head
        title blablah chat
        link(rel="stylesheet" href="/style.css")
    body
        h1 IRC "NOJS" interface
        form(method="POST" action="/session/new")
            table
                tr
                    td
                        | Username
                    td
                        input(type="text" name="username")
                tr
                    td
                        | Channel Key (Optional)
                    td
                        input(type="password" name="password")
                tr
                    td
                        button Connect
