doctype html
html
    head
        title blablah chat
        link(rel="stylesheet" href="/style.css")
    body
        h1 IRC "NOJS" interface
        form(method="POST" action="/session/new")
            button Connect
