doctype html
html
    head
        title IRC Chat
    frameset(rows="90%, 10%")
        frame(name="chat" src="/frame/chat")
        frame(name="controls" src="/frame/controls")
    noframes
        h1 No support for frames
