doctype html
html
    head
        title IRC Chat
    frameset(rows="10%, 90%")
        frame(name="message" src="/frame/message/"+id)
        frame(name="chat" src="/frame/chat/"+id scrolling="yes")
    noframes
        h1 No support for frames
