doctype html
html
    head
        title IRC Chat
    frameset(rows="90%, 10%")
        frame(name="chat" src="/frame/chat/"+id+"#end" scrolling="yes")
        frame(name="message" src="/frame/message/"+id)
    noframes
        h1 No support for frames
