html body {
    padding: 0px;
    margin: 0px;
    color: rgba(250,250,250,.7);
    font-family: monospace;
    font-size: 1.2em;
    line-height: 1.8em;
    background: black;
}

h1,h2,h3,h4 {
    font-weight: normal;
}

.center {
    text-align: center;
}

#input {
    width: calc(100% - 185px);
    margin-top: 10px;
    background:black;
    color: white;
    border: 0px solid green;
    padding: 5px;
    font-size: 1.2em;
    position: fixed;
    bottom: 0px;
    left: 180px;
    height: 100%;
    font-size: 1.7em;
}

#channel {
    font-size: 1.8em;
    line-height: 100%;
    padding-top: 10px;
    padding-left: 20px;
}

.msg .mine {
    color: rgba(0,250,0,.7);
    display: inline-block;
    min-width: 60px;
}

.msg .from {
    color: rgba(250,250,250,.7);
    display: inline-block;
    min-width: 60px;
}

.msg span {
    color: rgba(250,250,250,.7);
    margin-left: 10px;
}

.box {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.action {
    margin-left: 10px;
}

.kick {
    color: white;
    margin-left: 10px;
}

.red {
    color: red;
}

.green {
    color: #44FF44;
}

.white {
    color: white !important;
}

.brown {
    color: #974C1E !important;
}

.yellow {
    color: yellow!important;
}

.bold {
    font-weight: bold;
}

pre {
    padding: 0px;
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    border-bottom: 1px solid rgba(250,250,250,.05);
}

.canvas {
    width: calc( 100% - 200px );
}

.users {
    width: 160px;
    float: right;
}

.users p {
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
}

.users ul {
    padding: 0px;
    margin: 0px;
}

.users li {
    display: block;
    padding-bottom: 1px;
}

.users li a {
    text-decoration: none;
    color: rgba(250,250,250,.6);
}
