html body {
    padding: 0px;
    margin: 0px;
    color: green;
    font-family: monospace;
    font-size: 1.2em;
    background: black;
}

h1,h2,h3,h4 {
    font-weight: normal;
}

.center {
    text-align: center;
}

#input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background:black;
    color: green;
    border: 1px solid green;
    padding: 5px;
    font-size: 1.2em;
}
