doctype html
html
    head
        title Chat
        link(rel="stylesheet" href="/style.css")
        meta(http-equiv="refresh" content="5")
    body
        for msg in logs
            pre= msg
        #end
