doctype html
html
    head
        title Chat
    body(style="background: black;text-align: center")
        ul.inline(style="margin: 0px;padding: 0px")
            li(style="display: inline-block;margin-right: 10px;")
                a(href="/chat/"+id target="_blank")
                    button(style="margin-top: 10px;background: green;color: white;font-size: 1.2em;") Clone
            li(style="display: inline-block")
                form(method="post" style="display: inline-block" target="_parent")
                    input(type="hidden" name="action" value="logout")
                    button(style="margin-top: 10px;background: red;color: white;font-size: 1.2em;") Logout
