doctype html
html
    head
        title Chat
        link(rel="stylesheet" href="/style.css")
    body
        code= err
        form.center(method="POST" action="/frame/message/"+id)
            input#input(type="text" placeholder="message" name="command")
