doctype html
html
    head
        title Chat
        link(rel="stylesheet" href="/style.css")
    body
        code= err
        form(method="POST" action="/frame/message/"+id)
            #channel
                span.yellow [#lobby]
            input#input(type="text" placeholder="message" name="command" autocomplete="off" autofocus)
